{% set pagetitle ="Home" %}
{% extends 'layout.html' %}
{% block header %}
{% if data['name']|length >0 %}
{% include 'foundations/header-signed-in-campaign.html' %}
{% else %}
{% include 'foundations/header-signed-in.html' %}
{% endif %}
{% endblock %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
{{ pagetitle }}
{% endblock %}

<style>

   a:visited {
      color: #005EB8;

   }

   .nhsuk-width-container {
      margin-left:0px;
      margin-right:0px;
      max-width:100%;
   }

</style>


{% block content %}
<div class="nhsuk-grid-row" style="">
   <div class="nhsuk-grid-column-full" style="">
      <div style="">
         <h1 style=";font-size:52px;" class="nhsuk-u-padding-bottom-0 nhsuk-heading-xl">Welcome back {{ data['email-address']|default("name@nhs.net") }}</h1>

         <div class="" style=";display:inline;;;">
            <a id="startLink" class="nhsuk-link nhsuk-link--no-visited-state" style="display:inline;;;font-weight:800;font-size:19px" href="campaign-type">Start a new invitation campaign</a>

         {% if data['dupe'] == 'nil' %}
         <a id="dupeLink" class="nhsuk-link nhsuk-link--no-visited-state" style="display:inline;margin-left:60px;;;font-weight:800;font-size:19px"  href="home?dupe=true">Duplicate an invitation campaign</a>

         {% elif data['dupe'] == "false" %}
            <a class="nhsuk-link nhsuk-link--no-visited-state" style="display:inline;margin-left:60px;;;font-weight:800;font-size:19px"  href="home?dupe=true">Duplicate an invitation campaign</a>

         {% else %}
            <a id="" class="nhsuk-link nhsuk-link--no-visited-state" style="display:inline;margin-left:60px;;;font-weight:800;font-size:19px"  href="home?dupe=false">X Cancel duplicate</a>
         {% endif %}
         </div>


      </div>
      <div class="nhsuk-width-container">
         <main class="nhsuk-main-wrapper" id="maincontent" role="main">
            {% if data['dupe'] == "true" %}
            <div style="">
               <table role="table" class="nhsuk-table-responsive">
                  <div >
                     <caption style="display:none" class="nhsuk-table__caption nhsuk-u-padding-bottom-1 nhsuk-u-padding-top-0">Campaign status</caption>
                     <thead role="rowgroup" style="" class="nhsuk-table__head">
                        <tr role="row">
                           <th style="width:5%;" role="columnheader" class="" scope="col">
                              Duplicate
                           </th>
                           <th style="width:35%" role="columnheader" class="" scope="col">
                              Name
                           </th>
                           <th style="width:30%" role="columnheader" class="" scope="col">
                              Date last updated
                           </th>
                           <th style="width:30%" role="columnheader" class="" scope="col">
                              Status
                           </th>
                        </tr>
                     </thead>
                  </div>
                  <tbody class="nhsuk-table__body">
                     <tr role="row" class="nhsuk-table__row">
                        <td role="cell" class="nhsuk-table__cell">
                           <span class="nhsuk-table-responsive__heading">Age </span>
                           <a class="nhsuk-link nhsuk-task-list__link nhsuk-link--no-visited-state href" href="#">[Select]</a>
                        </td>
                        <td role="cell" class="nhsuk-table__cell">
                           <span class="nhsuk-table-responsive__heading">Age </span>
                           <a class="nhsuk-link nhsuk-task-list__link nhsuk-link--no-visited-state href" href="#">Covid-19 Spring 2024 Booster</a>
                        </td>
                        <td role="cell" class="nhsuk-table__cell">
                           <span class="nhsuk-table-responsive__heading">Last update? </span> {{ data['fromDate']|statusDateTime }}
                        </td>
                        <td role="cell" class="nhsuk-table__cell">
                           <span class="nhsuk-table-responsive__heading">Status? </span>

                           <strong style="font-size:16px;border:0" class="nhsuk-tag">
                              Active
                           </strong>
                        </td>
                     </tr>
                     <tr role="row" class="nhsuk-table__row">
                        <td role="cell" class="nhsuk-table__cell">
                           <span class="nhsuk-table-responsive__heading">Age </span>
                           <a class="nhsuk-link nhsuk-task-list__link nhsuk-link--no-visited-state href" href="#">[Select]</a>
                        </td>
                        <td role="cell" class="nhsuk-table__cell">
                           <span class="nhsuk-table-responsive__heading">Age </span>
                           <a class="nhsuk-link nhsuk-task-list__link nhsuk-link--no-visited-state href" href="#">Covid-19 IS 2024</a>
                        </td>
                        <td role="cell" class="nhsuk-table__cell">
                           <span class="nhsuk-table-responsive__heading">Last update? </span> {{ data['fromDate']|statusDateTime }}
                        </td>
                        <td role="cell" class="nhsuk-table__cell">
                           <span class="nhsuk-table-responsive__heading">Status? </span>

                           <strong style="font-size:16px;border:0" class="nhsuk-tag nhsuk-tag--blue">
                              Pending approval
                           </strong>
                        </tr>
                        <tr role="row" class="nhsuk-table__row">
                           <td role="cell" class="nhsuk-table__cell">
                              <span class="nhsuk-table-responsive__heading">Age </span>
                              <a class="nhsuk-link nhsuk-task-list__link nhsuk-link--no-visited-state href" href="#">[Select]</a>
                           </td>

                           <td role="cell" class="nhsuk-table__cell">
                              <span class="nhsuk-table-responsive__heading">Age </span>
                              <a class="nhsuk-link nhsuk-task-list__link nhsuk-link--no-visited-state href" href="#">Seasonal Flu Winter 2023</a>
                           </td>
                           <td role="cell" class="nhsuk-table__cell">
                              <span class="nhsuk-table-responsive__heading">Last update? </span>09:04, Friday 03 Aug 2023
                           </td>
                           <td role="cell" class="nhsuk-table__cell">
                              <span class="nhsuk-table-responsive__heading">Status? </span>

                              <strong style="font-size:16px;border:0" class="nhsuk-tag nhsuk-tag--white">
                                 Ended
                              </strong>
                           </td>
                        </tr>
                        <tr role="row" class="nhsuk-table__row">
                           <td role="cell" class="nhsuk-table__cell">
                              <span class="nhsuk-table-responsive__heading">Age </span>
                              <a class="nhsuk-link nhsuk-task-list__link nhsuk-link--no-visited-state href" href="#">[Select]</a>
                           </td>
                           <td role="cell" class="nhsuk-table__cell">
                              <span class="nhsuk-table-responsive__heading">Age </span>
                              <a class="nhsuk-link nhsuk-task-list__link nhsuk-link--no-visited-state href" href="#">Covid-19 Winter 2023 CEV</a>
                           </td>
                           <td role="cell" class="nhsuk-table__cell">
                              <span class="nhsuk-table-responsive__heading">Last update? </span>09:04, Friday 03 Aug 2023
                           </td>
                           <td role="cell" class="nhsuk-table__cell">
                              <span class="nhsuk-table-responsive__heading">Status? </span>
                              <strong style="font-size:16px;border:0" class="nhsuk-tag nhsuk-tag--white">
                                 Ended
                              </strong>
                           </td>
                        </tr>
                        <tr role="row" class="nhsuk-table__row">
                           <tr role="row" class="nhsuk-table__row">
                           </tbody>
                        </table>
                        {% else %}
                        <div style="display:block">
                           <table role="table" class="nhsuk-table-responsive">
                              <div >
                                 <caption style="font-size:1.6em" class="nhsuk-table__caption nhsuk-u-padding-bottom-1 nhsuk-u-padding-top-0">Campaign status</caption>
                                 <thead role="rowgroup" style="" class="nhsuk-table__head">
                                    <tr role="row">
                                       <th style="width:35%" role="columnheader" class="" scope="col">
                                          Name
                                       </th>
                                       <th style="width:30%" role="columnheader" class="" scope="col">
                                          Date last updated
                                       </th>
                                       <th style="width:30%" role="columnheader" class="" scope="col">
                                          Status
                                       </th>
                                    </tr>
                                 </thead>
                              </div>
                              <tbody class="nhsuk-table__body">
                                 <tr role="row" class="nhsuk-table__row">
                                    <td role="cell" class="nhsuk-table__cell">
                                       <span class="nhsuk-table-responsive__heading">Age </span>
                                       <a class="nhsuk-link nhsuk-task-list__link nhsuk-link--no-visited-state href" href="#">Covid-19 Spring 2024 Booster</a>
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                       <span class="nhsuk-table-responsive__heading">Last update? </span> {{ data['fromDate']|statusDateTime }}
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                       <span class="nhsuk-table-responsive__heading">Status? </span>
                                       <strong style="font-size:16px;border:0" class="nhsuk-tag">
                                          Active
                                       </strong>
                                    </td>
                                 </tr>
                                 <tr role="row" class="nhsuk-table__row">
                                    <td role="cell" class="nhsuk-table__cell">
                                       <span class="nhsuk-table-responsive__heading">Age </span>
                                       <a class="nhsuk-link nhsuk-task-list__link nhsuk-link--no-visited-state href" href="#">Covid-19 IS 2024</a>
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                       <span class="nhsuk-table-responsive__heading">Last update? </span> {{ data['fromDate']|statusDateTime }}
                                    </td>
                                    <td role="cell" class="nhsuk-table__cell">
                                       <span class="nhsuk-table-responsive__heading">Status? </span>
                                       <strong style="font-size:16px;border:0" class="nhsuk-tag nhsuk-tag--blue">
                                          Pending approval
                                       </strong>
                                    </tr>
                                    <tr role="row" class="nhsuk-table__row">
                                       <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading">Age </span>
                                          <a class="nhsuk-link nhsuk-task-list__link nhsuk-link--no-visited-state href" href="#">Seasonal Flu Winter 2023</a>
                                       </td>
                                       <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading">Last update? </span>09:04, Friday 03 Aug 2023
                                       </td>
                                       <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading">Status? </span>
                                          <strong style="font-size:16px;border:0" class="nhsuk-tag nhsuk-tag--white">
                                             Ended
                                          </strong>
                                       </td>
                                    </tr>
                                    <tr role="row" class="nhsuk-table__row">
                                       <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading">Age </span>
                                          <a class="nhsuk-link nhsuk-task-list__link nhsuk-link--no-visited-state href" href="#">Covid-19 Winter 2023 CEV</a>
                                       </td>
                                       <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading">Last update? </span>09:04, Friday 03 Aug 2023
                                       </td>
                                       <td role="cell" class="nhsuk-table__cell">
                                          <span class="nhsuk-table-responsive__heading">Status? </span>
                                          <strong style="font-size:16px;border:0" class="nhsuk-tag nhsuk-tag--white">
                                             Ended
                                          </strong>
                                       </td>
                                    </tr>
                                    <tr role="row" class="nhsuk-table__row">
                                       <tr role="row" class="nhsuk-table__row">
                                       </tbody>
                                    </table>
                                 </div>
                                 {% endif %}
                              </div>
                           </div>
                        </div>
            </div>
            {% endblock %}
<script>

   const startLink = document.getElementById("startLink");
   const dupeLink = document.getElementById("dupeLink");


   value1.addEventListener("click", function(event) {
     value1.addEventListener("change", function(event) {
       showElement("synopsis");
       showElement("codeBlock");
       showElement("buttonGroup");
     });
   });
</script>
